# use with direnv: https://github.com/zimbatm/direnv

path_add COVISE_PATH covise

os=$(uname -s|tr A-Z a-z)
case $(uname -m) in
   i*86) arch=32 ;;
   x86_64) arch=64 ;;
   *) arch=$(uname -m) ;;
esac
system="${os}${arch}"

if [ "$system" = "darwin64" ]; then
   export EXTERNLIBS="${HOME}/covise/extern_libs/lion"
   export OSGDIR="${EXTERNLIBS}/openscenegraph"
   path_add DYLD_LIBRARY_PATH "${OSGDIR}/lib"
   path_add DYLD_FRAMEWORK_PATH "${EXTERNLIBS}/qt4/lib"
   path_add DYLD_LIBRARY_PATH "${EXTERNLIBS}/xercesc/lib"
elif [ "$system" = "linux64" ]; then
   if [ -d /data/extern_libs ]; then
      export EXTERNLIBS="/data/extern_libs/rhel6"
   fi
   export OSGDIR="${EXTERNLIBS}/OpenSceneGraph"
   path_add LD_LIBRARY_PATH "${OSGDIR}/lib"
   export BOOST_ROOT="${EXTERNLIBS}/boost"

   if [ -d "${EXTERNLIBS}/libvncserver" ]; then
      path_add LD_LIBRARY_PATH "${EXTERNLIBS}/libvncserver/lib"
   fi
fi

builddir="build-${system}"
export VMAKE_BUILD="$builddir"
echo Build: "$builddir"
if test -d "${builddir}"; then
   path_add COVISE_PATH "${builddir}/vistle"
   export COVISEDIR="$(pwd)/${builddir}/vistle"
fi

export ACK_OPTIONS=--ignore-dir doc

export COCONFIG=config-vistle.xml
export COCONFIG="${HOME}/covise/config/config-vistle.xml"

path_add PYTHONPATH vistle/control

if test -d "${builddir}/vistle/bin"; then
   PATH_add "${builddir}/vistle/bin"
fi
