[submodule "3rdparty/IceT"]
	path = 3rdparty/IceT
	url = git://public.kitware.com/IceT.git
[submodule "3rdparty/qt-solutions"]
	path = 3rdparty/qt-solutions
	url = git://github.com/qtproject/qt-solutions.git
	branch = master
[submodule "3rdparty/eigen3"]
	path = 3rdparty/eigen3
	url = git://github.com/RLovelett/eigen.git
[submodule "3rdparty/thrust"]
	path = 3rdparty/thrust
	url = git://github.com/thrust/thrust.git
[submodule "eigen"]
	path = eigen
	url = git://github.com/RLovelett/eigen.git
[submodule "3rdparty/boost-mpi"]
	path = 3rdparty/boost-mpi
	url = git://github.com/boostorg/mpi.git
[submodule "3rdparty/boost-mpi-1.55"]
	path = 3rdparty/boost-mpi-1.55
	url = git://github.com/boostorg/mpi.git
[submodule "3rdparty/boost-mpi-1.58"]
	path = 3rdparty/boost-mpi-1.58
	url = git://github.com/boostorg/mpi.git
[submodule "3rdparty/boost-mpi-1.60"]
	path = 3rdparty/boost-mpi-1.60
	url = git://github.com/boostorg/mpi.git
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = git://github.com/pybind/pybind11.git
	branch = stable
