/.envrc
/scratch
/build
/build-*
/CMakeLists.txt.user*
/compile_commands.json
/.release
/.debug
/test
/*.log
/*.vsl
**/*.autosave
/.flavor
/.vs
/.vscode
/.idea
/.ipynb_checkpoints
**/.nfs*
/docs/build
/docs/source/_templates
__pycache__
