/.envrc
/.release
/.debug
/.buildtype
/.spack
/.flavor
/scratch
/build
/build-*
/CMakeLists.txt.user*
/compile_commands.json
/test
/*.log
/*.vsl
**/*.autosave
/.flavor
/.vs
/.vscode
/.idea
/.ipynb_checkpoints
**/.nfs*
__pycache__
.cache/
