# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    #-   id: trailing-whitespace
    #-   id: check-yaml
    -   id: end-of-file-fixer
    -   id: check-added-large-files
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-merge-conflict
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    -   id: cmake-format
    #-   id: cmake-lint
-   repo: https://github.com/pocc/pre-commit-hooks.git
    rev: v1.3.5
    hooks:
    -   id: clang-format
    #-   id: include-what-you-use
    #-   id: cpplint
    #-   id: cppcheck
    #-   id: clang-tidy
