#--------------------------------------------------------------------------------------------------
# Configuration script for use with continuous integration service travis-ci.org
#

notifications:
  email:
    - covise-commits@listserv.uni-stuttgart.de
    - aumuell@reserv.at

language: cpp
cache: ccache

os:
    - linux
    - osx

env:
    #- BUILD_TYPE="Debug"
    - BUILD_TYPE="Release"

    - MULTI_PROCESS=ON LARGE_INDICES=OFF DOUBLE_PRECISION=OFF
    - MULTI_PROCESS=OFF LARGE_INDICES=ON DOUBLE_PRECISION=OFF

dist: bionic

osx_image:
    - xcode11.5
    #- xcode10.3

jobs:
    exclude:
        - env: MULTI_PROCESS=OFF LARGE_INDICES=ON DOUBLE_PRECISION=OFF
        - env: MULTI_PROCESS=OFF LARGE_INDICES=ON DOUBLE_PRECISION=ON

addons:
    apt:
        packages:
            - ninja-build
            - libglew-dev
            - qttools5-dev
            - qtscript5-dev
            - libqt5scripttools5
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - libqt5webkit5-dev
            - libpng-dev
            - libopenscenegraph-3.4-dev
            - libtbb-dev
            - libjpeg-dev
            - libsnappy-dev
            - zlib1g-dev
            - libassimp-dev
            - libboost-atomic-dev
            - libboost-date-time-dev
            - libboost-exception-dev
            - libboost-filesystem-dev
            - libboost-iostreams-dev
            - libboost-locale-dev
            - libboost-log-dev
            - libboost-math-dev
            - libboost-program-options-dev
            - libboost-random-dev
            - libboost-serialization-dev
            - libboost-system-dev
            - libboost-thread-dev
            - libboost-timer-dev
            - libboost-tools-dev
            - libboost-dev
            - libtinyxml2-dev
            - libturbojpeg0-dev
            - liblz4-dev
            - libzstd-dev
            - libzip-dev
            - libarchive-dev
            - libbotan-2-dev
            - libvtk7-dev # also install OpenMPI
    homebrew:
        #update: true # necessary for 'brew bundle' with xcode10.3 and older
        packages:
            - cmake
            - ninja
            - libomp
            - botan
            - open-mpi
            - boost
            - python3
            - glew
            - jpeg-turbo
            - qt5
            - tbb
            - zstd
            - lz4
            - libzip
            - assimp
            - embree
            - ispc
            #- vtk # problems because of messy include path due to xcode & cmd line dev tools
            #- tinyxml2
            #- open-scene-graph


before_install:
    - if [ "$TRAVIS_OS_NAME" = "linux" ]; then rm -f ${HOME}/.ccache/ccache.conf; ccache --set-config=sloppiness=file_macro,time_macros; fi
    #- if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew update; fi
    #- if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew unlink python@2; fi
    #- if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew install glew jpeg boost python3 qt5 open-mpi; fi
    #- if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew install embree ispc; fi

script:

    - mkdir build-${BUILD_TYPE}
    - cd build-${BUILD_TYPE}
    - cmake -G Ninja \
      -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
      -DVISTLE_MULTI_PROCESS=${MULTI_PROCESS} \
      -DVISTLE_64BIT_INDICES=${LARGE_INDICES} \
      -DVISTLE_DOUBLE_PRECISION=${DOUBLE_PRECISION} \
      ..
    - ninja -v
