#--------------------------------------------------------------------------------------------------
# Configuration script for use with continuous integration service travis-ci.org
#

notifications:
  email:
    - aumuell@reserv.at

sudo: required
dist: bionic

language: cpp
os:
    - linux
    - osx

env:
    matrix:
        # - APP="vistle" BUILD_TYPE="Debug"
        - APP="vistle" BUILD_TYPE="Release"

matrix:
    exclude:
        # FIXME
        - os: osx

addons:
    apt:
        packages:
            - ninja-build
            - libglew-dev
            - qttools5-dev
            - qtscript5-dev
            - libqt5scripttools5
            - libqt5svg5-dev
            - libqt5opengl5-dev
            - libqt5webkit5-dev
            - libpng-dev
            - libopenscenegraph-3.4-dev
            - libtbb-dev
            - libmpich-dev
            - mpich
            - libjpeg-dev
            - libsnappy-dev
            - zlib1g-dev
            - libassimp-dev
            - libboost-atomic-dev
            - libboost-date-time-dev
            - libboost-exception-dev
            - libboost-filesystem-dev
            - libboost-iostreams-dev
            - libboost-locale-dev
            - libboost-log-dev
            - libboost-math-dev
            - libboost-program-options-dev
            - libboost-python-dev
            - libboost-random-dev
            - libboost-serialization-dev
            - libboost-system-dev
            - libboost-thread-dev
            - libboost-timer-dev
            - libboost-tools-dev
            - libboost-dev
            - libvtk7-dev
            - libtinyxml2-dev
            - libturbojpeg0-dev
            - liblz4-dev
            - libzstd-dev
            - libzip-dev
            - libarchive-dev


before_install:
    #- if [ "$TRAVIS_OS_NAME" = "linux" ]; then travis_retry sudo ln -s libturbojpeg.so.0 /usr/lib/x86_64-linux-gnu/libturbojpeg.so; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew update; fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew reinstall xerces-c ;fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew reinstall glew ;fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew reinstall giflib ;fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew reinstall libpng ;fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew reinstall libtiff ;fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew reinstall freetype ;fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew reinstall boost ;fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew reinstall python3 ;fi
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then travis_retry brew reinstall qt5 ;fi

script:

    - export PATH="/opt/python/3.7.5/bin:$PATH"
    - mkdir build-${BUILD_TYPE}
    - cd build-${BUILD_TYPE}
    - cmake -G Ninja -DCMAKE_BUILD_TYPE=${BUILD_TYPE} ..
    - ninja
