---
# BasedOnStyle:  LLVM
AccessModifierOffset: -4
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true
BraceWrapping:
  AfterFunction:   true
  AfterObjCDeclaration: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
BreakConstructorInitializersBeforeComma: true
ColumnLimit:     120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
IndentWidth:     4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
ObjCBlockIndentWidth: 4
PenaltyExcessCharacter: 250
ReflowComments:  false
SortIncludes:    false
SortUsingDeclarations: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
TabWidth:        4
---
Language:        Cpp
---
Language:        ObjC
